@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Montserrat:ital,wght@0,200;1,200&family=Raleway:ital@0;1&family=Ysabeau:ital,wght@0,1;0,100;1,100&display=swap");
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  } 

  html {
  scroll-behavior: smooth;
  }

  body {
  line-height: 1.4;
  }

  .container {
  max-width: 85%;
  margin: 0 auto;
  }

  img {
  width: 100%;
  height: 100%;
  display: block;
  }

   :root {
  --lato: 'Lato', sans-serif;
  --monster: 'Montserrat', sans-serif;
   }

    .navigation{
    width: 100%;
    height: 10vh;
    padding: 22px;
    }
    .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .navbar .fa-bars{
    display: none;
    }
    .navbar__nav a{
    color: dimgrey;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1rem;
    font-family: var(--lato);
    font-weight: 450;
    transition: all 0.4s linear;
    }
    .navbar__nav a:hover{
    color: black;
    }
    .navbar__nav button{
    padding: 0.5rem 2rem;
    border: 3px solid blue;
    outline: 0;
    border-radius: 33px;
    background-color:blue;
    color: #FBB244;
    font-family: var(--monster);
    transition: all .5s linear;
    }
    .navbar__nav button:hover{
    border: 3px solid dimgray;
    background-color: white;
    color: black;
    }
    .banner{
    width: 100%;
    padding: 2.8rem 0;
   }
    .banner__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    font-family: var(--lato);
    }
    .banner__item b{
    display: inline-block;
    padding: 5px 20px;
    color: #FBB244;
    text-transform: uppercase;
    background-color: rgba(251, 178, 68, 0.2);
    border-radius: 30px;
    font-size: 15/px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #FEF0DA;
    margin-top: 3rem;
    margin-bottom: 1rem;
    }
    .banner__item h2{
    color: blue;
    font-size: 3rem;
    margin-bottom: 1rem;
    }
    .banner__item p{
    color: dimgray;
    font-family: var(--monster);
    font-size: 1rem;
    width: 90%;
    margin-bottom: 3rem;
    }
    .banner__item button{
    margin-left: 5px;
    margin-right: 10px;
    padding: 0.9rem 2rem;
    border: 1px solid blue;
    outline: 0;
    border-radius: 33px;
    background-color:blue;
    color: #FBB244;
    font-family: var(--lato);
    transition: all .2s linear;
    }
    .banner__item  button:hover{
    background-color: white;
    color: black;
    }
    .banner__item .button{
    padding: 0.9rem 2rem;
    border: 1px solid blue;
    outline: 0;
    border-radius: 33px;
    background-color: white;
    color: black;
    font-family: var(--monster);
    }
    .banner__item  .button:hover{
    background-color:blue;
    color: #FBB244;
    border: 0;
    }

   .features
   {
    width: 100%;
    padding: 4.8rem 0;
    }
    .title{
    text-align: center;
    font-family: var(--lato);
    margin-bottom: 3rem;
    }
    .title b{
    display: inline-block;
    padding: 5px 20px;
    color: #FBB244;
    text-transform: uppercase;
    background-color: rgba(251, 178, 68, 0.2);
    border-radius: 30px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #FEF0DA;
    margin-bottom: 1rem;}
    .title h2{
        color: blue;
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
    .title p{
        width: 60%;
        margin-left: 19%;
        color: dimgrey;
    }
    .fetures__content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 3rem;
        margin-top: 7rem;
    }
   .fetures__content .item{
        width: 100%;
        padding: 22px;
        text-align: center;
        font-family: var(--monster);
    }
    .fetures__content i{
        color:#7D7D7D;
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
    .fetures__content .icon{
        position: relative  ;
    }
    .fetures__content .icon::before{
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        top: -20px;
        left: 155px;
        background-color: rgba(251, 178, 68, 0.5);
        border-radius: 50%;
        z-index: -1;
    }
    .fetures__content .item h3{
        color: black;
        font-weight: 900;
        margin-bottom: 0.5rem;
    }

    .fetures__content  .item p{
        color: darkgray;
        font-weight: 50;
        font-size: 15px;
        width: 80%;
        margin-left:30px;
    }


    .about{
        width: 100%;
        padding: 4.8rem 0;
        margin: 0 auto;
    }
    .about__content{
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 3rem;
        font-family: var(--lato);
    }
    .about__content .item b{
    display: inline-block;
    padding: 5px 20px;
    color: #FBB244;
    text-transform: uppercase;
    background-color: rgba(251, 178, 68, 0.2);
    border-radius: 30px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #FEF0DA;
    margin-bottom: 1rem;
    }   
     .about__content .item h4{     
        color: darkgray;
       font-weight: 50;
       font-size: 15px;
       width: 80%;
       margin-left:30px;

   }
    .about__content .item h2{
        color: #081158;
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }
    .about__content .item p{
        color: #7D7D7D;
        margin-bottom: 1rem;
    }
    .about__content .item button{
        padding: 0.9rem 2rem;
        outline: 0;
        border: 0;
        border-radius: 33px;
        background-color:blue;
        color: #fff;
        font-family: var(--real);
        margin-top: 5rem;
        transition: all .2s linear;
    }
    .about__content .item button:hover{
        background-color: white;
        color:blue;
        border: 1px solid blue;
    }

    .men{
        width: 100%;
        padding: 4.8rem 0;
    }
    .men__content{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        margin:  0 auto;
        gap: 3rem;
    }

    .men__item{
        padding: 30px;
         border: 1px solid #efefef;
         margin-bottom: 30px;
        display: flex;
        gap: 3rem;
    }
    .men__item .icon i{ 
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        font-size: 50px;
        color:#7D7D7D;
    }
    .men__item .icon{
        position: relative;
    }
    .men__item .icon::before{
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        top: -20px;
        left: 27px;
        background-color: rgba(251, 178, 68, 0.5);
        border-radius: 50%;
        z-index: -1;
    }
    .men .men__item__title h2{
        font-family: var(--monster);
        font-size: 1.2rem;
    }
    .men__item .men__item__title p{
        font-family: var(--lato);
        margin-top: 0.5rem;
        color: #7D7D7D;
    }

    .testimonial{
        width: 100%;
        padding: 5rem 0;
        background-color: #F8F9FA;
    }
    .testimonial__content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
    .testimonial__item{
        width: 100%;
        border-radius: 10px;
        border: 1px solid rgb(133, 133, 133);
        padding: 2rem ;
        transition: all .2s  linear;
        background-color: white;
    }
    .testimonial__item:hover{
        border: 1px solid #081158;
    }
    .testimonial__item p{
        font-family: var(--lato);
        color: #7D7D7D;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    .testimonial__flex{
        display: grid;
        grid-template-columns: 25% 75%;
    }
    .flex__img img{
        height: 60%;    
        width: 60%;
        border-radius: 333px;
    }
    .flex__title b{
        color: #7D7D7D;
    }
    .sen
    {
        width: 100%;
        padding: 4.8rem 0;
    }
    .sen__content{
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 30% 20% 20% 25%;
        gap: 3rem;
    }
    .sen__item{
        font-family: var(--monster);
    }
    .sen__item h2{
        color: #081158;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .sen__item p{
        color: #7D7D7D;
        width: 100%;
        margin-bottom: 2rem;
    }
    .sen__item i{
        font-size: 2rem;
        color: #081158;
        margin-left: 10px ;
    }
    .footer__item a{
        color:#7D7D7D;
    }
    .sen__item a:hover{
        color:#081158;
    }
 